h1 {
  color: tomato;
}
.miClase {
  font-size: 20px;
}
[type="password"]{    
    border: 2px solid blue;
    
}
a {
    text-transform: uppercase;
}
footer a{  
    text-transform: lowercase;
}
a.test{
    text-transform: uppercase;
    color: rgb(255, 0, 0);
}    
    